/* Styles go here */

.title{
    margin-left: 275px
}

.container{
    height: 500px;
    width: 1000px;
    margin: 0 auto
}
.photo{
    margin-top: 100px;
    height: 300px;
    width: 300px

}
.container-form{
    margin-top: 20%;
}

input[type="submit"]{
 background-color: #ff00cb;
   }

   .container-form {
    width: 100%;
    max-width: 450px;
    min-height: 400px;
    background-color: #f2f2f2;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }